div{ text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: rgb(11, 1, 1);
    text-shadow: 3px 2px 2px  rgb(18, 11, 11); 
    font-size: 1.3em; }
    ol{color: rgb(12, 6, 2);
        font-weight:bold ;
        font-size: 20px;
        text-transform: uppercase;
    }ul{color: blue;
        text-transform: capitalize;}
        img{width: 200px;
            height: 200px;
            display: inline-block;
             }body{
.split {
    display: flex;
    flex-wrap: wrap; 
} 
.left, .right {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.right img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}}
            
            

            


        


